@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 추후 삭제 */
body {
    background-color: #DBDBDB;
} 

* {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.followers {
    max-width: 390px;
}


/* 애월읍 노지 */
.product{
    display: inline-block;
    width: 140px;
    height: 132px;
    background-color: white;
    margin-right: 10px;
}
.product .productImg{
    width: 140px;
    height: 90px;
    border: none;
    border-radius: 8px;
}
.product .productName{
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
    margin-left: 2px;
}
.product .productPrice{
    font-size: 12px;
    font-weight: 700;
    color: #F26E22;
    margin-top: 4px;
    margin-left: 2px;
}


/* 상품을 삭제할까요? */
/* 
.delete-alert{
    width: 252px;
    height: 110px;
    border-radius: 10px;
    border: none;
    background-color: white;
    overflow: hidden;
    position: relative;
}
.delete-alert .deleteMessageBox{
    width: 252px;
    height: 64px;
    border-bottom: 0.5px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteMessageBox .deleteMessage{
    font-size: 16px;
    font-weight: 500;
}
.delete-alert a{
    width: 50%;
    height: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    border: 0.5px solid #DBDBDB;
    box-sizing: border-box;
}
.delete-alert a:hover{
    color: #F26E22;
}
.delete-alert .deleteCancelButton{
    position: absolute;
    bottom: 0;
    left: 0;
}
.delete-alert .deleteButton{
    position:absolute;
    bottom: 0;
    right: 0;
} */

/* your profile */

.profileHeader {
    width: 390px;
    height: 48px;
    border-bottom: 0.5px solid #DBDBDB;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 12px;
}
.profileHeader .leftArrow {
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.profileHeader .moreIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.profileMain {
    width: 390px;
    height: 314px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileMain .followImageBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.followImageBox img{
    width: 110px;
    height: 110px;
    margin-left: 41px;
    margin-right: 37px;
}
.followImageBox .followers, .followImageBox .followings {
    font-size: 10px;
    font-weight: 400;
    color: #767676;
    text-align: center;
}
.followers .followersNumber {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
    color: black;
}
.followings .followingsNumber {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}

.profileNameBox {
    text-align: center;
    color: #767676;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
}
.profileNameBox .marketName {
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.profileNameBox .marketEmail {
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
}

.profileButtonBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    width: 208px;
}
.profileButtonBox .messageButton{
    width: 34px;
    height: 34px;
    background-image: url("../img/icon-message-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 20px;
    border : 0.5px solid #DBDBDB;
    border-radius: 50%;
}
.profileButtonBox .followButton{
    width: 120px;
    height: 34px;
    background-color: #F26E22;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.profileButtonBox .shareButton{
    width: 34px;
    height: 34px;
    background-image: url("../img/icon-share.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 20px;
    border : 0.5px solid #DBDBDB;
    border-radius: 50%;
}

/* sellProduct */

.sellProduct {
    margin-top: 6px;
    width: 390px;
    height: 208px;
    box-sizing: border-box;
    border-bottom: .5px solid #DBDBDB;
    background-color: white;
    position: relative;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 16px 20px;
}
.sellProduct p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* ---------------------------- 합침 구간 ----------------------- */

/* top-main-nav : 리스트 보기 */
.top-main-nav {
    margin-top: 6px;
    position: relative;
    top: 0;
    left: 0;
    width: 390px;
    height: 48px;
    display: flex;
    justify-content: end;
    background-color: white;
    border-bottom: 0.5PX solid #DBDBDB;
}

.top-main-nav img {
    cursor: pointer;
    width: 26px;
    height: 26px;
}
.top-main-nav .image1 {
    margin: 12px 16px;
}
.top-main-nav .image2 {
    margin: 12px 16px 12px 0;
}

/* ------------------------------------------------------- */

/* 홈, 채팅, 게시물 작성, 프로필 */
.tab-menu {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 390px;
    height: 60px;
    justify-content: space-evenly;
    background-color: white;
    border-top: 0.5px solid #DBDBDB;
}
.tab-menu div {
    cursor: pointer;
    width: 84px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-menu div span{
    margin: 12px 30px 0px;
    width: 24px; height: 24px;
    background-image: url(../img/icon-home.png);
    background-size: 24px;
}
.tab-menu div p{
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400px;
    color: #767676;
}
.tab-menu .home span{
    background-image: url(../img/icon-home.png);
}
.tab-menu .chatting span{
    background-image: url(../img/icon-message-circle-1.png);
}
.tab-menu .create span{
    background-image: url(../img/icon-edit.png);
}
.tab-menu .profile span{
    background-image: url(../img/icon-user.png);
}

/* 마우스 오버시 주황색 글씨가 되도록 구현 */
.tab-menu .home span:hover {
    background-image: url(../img/icon-home-fill.png);
}
.tab-menu .chatting span:hover {
    background-image: url(../img/icon-message-circle-fill.png);
}
.tab-menu .profile span:hover {
    background-image: url(../img/icon-user-fill.png);
}
/* 형제선택자 활용 */
.tab-menu div span:hover ~ p {
    color: #F26E22;
} 

/* home-post */
section.home-post {
    padding: 20px 16px;
    width: 358px;
    height: 434px;
    background-color:#FFFFFF;
    display: flex;
    gap: 12px;
}

section.leftSide button.proPic img {
    width: 42px;
    height: 42px;
}

section.rightSide .menuWrap {
    display: flex;
    justify-content: space-between;
}

.menuWrap .proId p:first-child {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.proId p:last-child {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 12px;
    line-height: 14px;
    color: #767676;
    margin: 2px 0 16px 0;
}

.menuWrap .menuBtn {
    width: 20px;
    height: 20px;
}

/* content */
.rightSide .cntTxt p {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 16px;
}

.rightSide .cntImg img {
    width: 304px;
    height: 228px;
    margin-bottom: 15px;
}

/* button */
/* 버튼 reset */
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btnWrap,
.btnWrap .btnLike,
.btnWrap .btnCmt {
    display: flex;
    gap: 19px;
}

.btnWrap .btnLike,
.btnWrap .btnCmt {
    gap: 8px;
}

.btnLike img {
    width: 16px;
    height: 15px;
}

.btnLike p,
.btnCmt p {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #767676;
}

.btnCmt img {
    width: 15px;
    height: 15px;
    margin-right: 0.5px;
}
/* date */
.rightSide p.date {
    padding: 19px 0 4px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #767676;
}
