body {
    background-color: #DBDBDB;
}

.top-upload-nav {
    width: 390px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
}

.top-upload-nav .arrow {
    cursor: pointer;
    margin: 13px 16px;
    background: url(../img/icon-arrow-left.png);
    background-size: 22px;
    width: 22px;
    height: 22px;
}

.top-upload-nav .save {
    cursor: pointer;
    margin: 8px 12px;
    background-color: #ffc7a7;
    width: 90px;
    height: 32px;
    border: none;
    border-radius: 32px;
    color: white;
    font-size: 14px;
    transition: all .3s;
}

.top-upload-nav .save:hover {
    background-color: #F26E22;
}
.upload {
    width: 390px;
    height: 772px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    border-top: .5px solid #DBDBDB;
    flex-direction: column;
}
.upload .comment {
    width: 390px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
}

.upload .comment .icon {
    margin: 12px 16px;
    width: 36px;
    height: 36px;
    background-image: url(../img/basic-profile.png);
    background-size: 36px;
}

.upload .comment .text {
    font-size: 14px;
    color: #c4c4c4;
    border: none;
    width: 256px;
}

.upload .comment .posting {
    cursor: pointer;
    font-size: 14px;
    margin: 23px 16px 20px;
    width: 30px;
    height: 18px;
    color: #c4c4c4;
}