@import "../module/module";

body {
  background-color: black;
  box-sizing: border-box;
}
.m-container {
  background-color: white;
  width: 100vw;
  max-width: 390px;
  height: 884px;
  overflow: hidden;
}

// Splash_Screen
.m-container.splash {
  .img {
    display: block;
    margin: 270px auto 0px;
    width: 200px;
    height: 340px;
    background: url("../img/logo.png") no-repeat;
    background-size: 200px auto;
  }
}

// Home
.m-container.home {
  position: relative;
  .top-main-nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    max-width: 390px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid 1px #dbdbdb;
    .text {
      width: 115px;
      height: 22px;
      font-weight: 500px;
      font-size: 18px;
      margin: 13px 16px;
      color: black;
    }
    .search {
      cursor: pointer;
      margin: 12px 16px;
      background: url(../img/icon-search.png);
      background-size: 24px;
      width: 24px;
      height: 24px;
    }
  }
  .img {
    margin: 268px auto 0px;
    width: 100px;
    height: 100px;
    background: url(../img/symbol-logo-1.png) center center no-repeat;
    background-size: auto 100px;
  }
  .text {
    margin: 20px auto 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #767676;

  }
  .M-button {
    display: block;
    margin: 20px auto 0px;
    width: 120px;
    height: 44px;
    border-radius: 30px;
    background-color: #F26E22;
    color: #fff;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 14px;
    font-weight: 18px;
    line-height: 18px;
  }
  .tab-menu {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-top: solid 1px #dbdbdb;
    div {
      cursor: pointer;
      width: 84px;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin: 12px 30px 0px;
        width: 24px; height: 24px;
        background-size: 24px;
      }
      p {
        margin-top: 3px;
        font-size: 10px;
        line-height: 14px;
        font-weight: 400px;
        color: #767676;
      }
    }
    .home{span{background-image: url(../img/icon-home-fill.png);}p{color:#f26e22;}}
    .chatting{span{background-image: url(../img/icon-message-circle-1.png);}}
    .create{span{background-image: url(../img/icon-edit.png);}}
    .profile{span{background-image: url(../img/icon-user.png);}}
  }
}

// Login
.m-container.login {
  background-color: #EA7F42;
  position: relative;
  .pic {
    margin: 204px auto 0px;
    width: 144px;
    height: 144px;
    background: url(../img/symbol-logo.png) center center no-repeat;
    background-size: auto 144px;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -40px;
    width: 100%;
    max-width: 390px;
    height: 362px;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
    color: #767676;
    button {
      width: 322px;
      height: 44px;
      border-radius: 44px;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
      &::before {
        content: " ";
        position: absolute;
        display: block;
        width: 24px;
        height: 24px;
        transform: translateX(10px) translateY(-5px);
      }
    }
    .kakao {
      margin-top: 50px;
      border: 1px solid #f2c94c;
      &::before {
        background: url('../img/message-circle.png');
        background-size: 24px;
      }
    }
    .google {
      border: 1px solid #767676;
      &::before {
        background: url('../img/Google__G__Logo\ 1.png');
        background-size: 24px;
      }
    }
    .facebook {
      margin-bottom: 20px;
      border: 1px solid #2d9cdb;
      &::before {
        background: url('../img/facebook.png');
        background-size: 24px;
      }
    }
    a {
      display: inline-block;
      font-size: 12px;
      color: #767676;
      margin: 0px 5px;
    }
  } 
}

// Album
.m-container.album {
  position: relative;
  height: 520px;
  .nav {
    width: 100%;
    height: 44px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    border: solid 1px #dbdbdb;
    div{
      display: inline-block;
      width: 26px; height: 26px;
      margin-right: 21px;
    }
    .nav1 {
      background: url(../img/icon-post-list-off.png);
      background-size: 26px;
    }
    .nav2 {
      background: url(../img/icon-post-album-on.png);
      background-size: 26px;
    }
  }
  .pics {
    margin: 0px auto;
    display: grid;
    grid-template-areas: 
    'grid1 grid2 grid3'
    'grid4 grid5 grid6'
    'grid7 grid8 grid9';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 8px; column-gap: 8px; padding: 21px 0px;
    width: 90%; height: 350px;
    div{border: 1px solid black;}
    .pic1{grid-area: grid1; background: url('../img/Group.png') center center no-repeat; background-size: 80px;}
    .pic2{grid-area: grid2; background: url('../img/Group.png') center center no-repeat; background-size: 80px;}
    .pic3{grid-area: grid3; background: url('../img/Group.png') center center no-repeat; background-size: 80px;} 
    .pic4{grid-area: grid4; background: url('../img/Group.png') center center no-repeat; background-size: 80px;} 
    .pic5{grid-area: grid5; background: url('../img/Group.png') center center no-repeat; background-size: 80px;} 
    .pic6{grid-area: grid6; background: url('../img/Group.png') center center no-repeat; background-size: 80px;} 
    .pic7{grid-area: grid7; background: url('../img/Group.png') center center no-repeat; background-size: 80px;} 
    .pic8{grid-area: grid8; background: url('../img/Group.png') center center no-repeat; background-size: 80px;} 
    .pic9{grid-area: grid9; background: url('../img/Group.png') center center no-repeat; background-size: 80px;} 
  }
  .tab-menu {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-top: solid 1px #dbdbdb;
    div {
      cursor: pointer;
      width: 84px;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin: 12px 30px 0px;
        width: 24px; height: 24px;
        background-size: 24px;
      }
      p {
        margin-top: 3px;
        font-size: 10px;
        line-height: 14px;
        font-weight: 400px;
        color: #767676;
      }
    }
    .home{span{background-image: url(../img/icon-home-fill.png);}p{color:#f26e22;}}
    .chatting{span{background-image: url(../img/icon-message-circle-1.png);}}
    .create{span{background-image: url(../img/icon-edit.png);}}
    .profile{span{background-image: url(../img/icon-user.png);}}
  }
}

// Chat List
.m-container.chat{
  position: relative;
  .top-basic-nav{
    width: 100%;
    border: #dbdbdb 1px solid;
    height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    .arrow{
      cursor: pointer;
      margin: 13px 16px;
      background: url(../img/icon-arrow-left.png);
      background-size: 22px;
      width: 22px;
      height: 22px;
    }
    .more{
      cursor: pointer;
      margin: 12px 12px;
      background: url(../img/more-icon.png);
      background-size: 24px;
      width: 24px;
      height: 24px;
    }
  }
  .chat{
    box-sizing: border-box;
    margin: 30px auto;
    width: 90%;
    height: 42px;
    display: flex;
    .pic{
      display: relative;
      flex: 1;
      min-width: 45px;
      height: 42px;
      background: url(../img/basic-profile.png) center center no-repeat;
      background-size: 42px;
      margin-right: 10px;
      .alarm{
        width: 12px;
        height: 12px;
        display: absolute;
        background: #F26E22;
        border-radius: 12px;
        transform: translateX(5px);
      }
      .alarm-off{
        display: none;
      }
    }
    .text{
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      div{
        max-width: 170px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .title{
        font-size: 14px;
      }
      .content{
        font-size: 12px;
        color: #767676;
      }
    }
    .date{
      flex: 1;
      min-width: 60px;
      transform: translateY(28px);
      height: 13px;
      font-size: 10px;
      color: #dbdbdb;
      text-align: right;
    }
  }
  .tab-menu {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-top: solid 1px #dbdbdb;
    div {
      cursor: pointer;
      width: 84px;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin: 12px 30px 0px;
        width: 24px; height: 24px;
        background-size: 24px;
      }
      p {
        margin-top: 3px;
        font-size: 10px;
        line-height: 14px;
        font-weight: 400px;
        color: #767676;
      }
    }
    .home{span{background-image: url(../img/icon-home.png);}}
    .chatting{span{background-image: url(../img/icon-message-circle-fill.png);}p{color:#f26e22;}}
    .create{span{background-image: url(../img/icon-edit.png);}}
    .profile{span{background-image: url(../img/icon-user.png);}}
  }
}

// Chat Room
.m-container.chatroom{
  position: relative;
  background-color: #f2f2f2;
  .top-chat-nav{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    .arrow{
      cursor: pointer;
      margin: 13px 10px 13px 16px;
      background: url(../img/icon-arrow-left.png);
      background-size: 22px;
      width: 22px;
      height: 22px;
    }
    .text{
      margin: 15px 10px 15px 0px;
      background-size: 22px;
      width: 284px;
      height: 18px;
      font-size: 14px;
      font-weight: 500;
      line-height: 17.53px;
    }
    .more{
      cursor: pointer;
      margin: 12px 12px;
      background: url(../img/more-icon.png);
      background-size: 24px;
      width: 24px;
      height: 24px;
    }
  }
  .comment{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    .icon{
      width: 50px; height: 36px;
      margin-left: 12px;
      background: url(../img/img-button.png) center center no-repeat;
      background-size: 36px;
    }
    .text{
      font-size: 14px;
      color: #c4c4c4;
      border: none;
      width: 256px;
    }
    .posting{
      cursor: pointer;
      font-size: 14px;
      margin: 23px 16px 20px;
      width: 40px; height: 18px;
      color: #c4c4c4;
    }
  }
}