@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
body {
  background-color: black;
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

section.home-post {
  /* padding: 20px 16px; */
  width: 358px;
  height: 434px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  border: 0.5px solid #DBDBDB;
}

section.leftSide button.proPic img {
  width: 42px;
  height: 42px;
}

section.rightSide .menuWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menuWrap .proId p:first-child {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.proId p:last-child {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #767676;
  margin-bottom: 16px;
}

.menuWrap .menuBtn {
  width: 20px;
  height: 20px;
}

/* content */
.rightSide .cntTxt p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 16px;
}

.rightSide .cntImg img {
  width: 304px;
  height: 228px;
  border: #dbdbdb;
  margin-bottom: 15px;
}

/* button */
/* 버튼 reset */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btnWrap,
.btnWrap .btnLike,
.btnWrap .btnCmt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}

.btnWrap .btnLike,
.btnWrap .btnCmt {
  gap: 8px;
}

.btnLike img {
  width: 16px;
  height: 15px;
}

.btnLike p,
.btnCmt p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #767676;
}

.btnCmt img {
  width: 15px;
  height: 15px;
  margin-right: 0.5px;
}

/* date */
.rightSide p.date {
  padding: 19px 0 4px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #767676;
}

section.home-post-onlytext {
  /* padding: 20px 16px; */
  width: 358px;
  height: 190px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  border: 0.5px solid #DBDBDB;
}

section.leftSide button.proPic img {
  width: 42px;
  height: 42px;
}

section.rightSide .menuWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menuWrap .proId p:first-child {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.proId p:last-child {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #767676;
  margin-bottom: 16px;
}

.menuWrap .menuBtn {
  width: 20px;
  height: 20px;
}

/* content */
.rightSide .cntTxt p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 16px;
}

.rightSide .cntImg img {
  width: 304px;
  height: 228px;
  border: #dbdbdb;
  margin-bottom: 15px;
}

/* button */
/* 버튼 reset */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btnWrap,
.btnWrap .btnLike,
.btnWrap .btnCmt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}

.btnWrap .btnLike,
.btnWrap .btnCmt {
  gap: 8px;
}

.btnLike img {
  width: 16px;
  height: 15px;
}

.btnLike p,
.btnCmt p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #767676;
}

.btnCmt img {
  width: 15px;
  height: 15px;
  margin-right: 0.5px;
}

/* date */
.rightSide p.date {
  padding: 19px 0 4px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #767676;
}

.top-basic-nav {
  width: 390px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.top-basic-nav .arrow {
  cursor: pointer;
  margin: 13px 16px;
  background: url(../img/icon-arrow-left.png);
  background-size: 22px;
  width: 22px;
  height: 22px;
}

.top-basic-nav .more {
  cursor: pointer;
  margin: 12px 12px;
  background: url(../img/more-icon.png);
  background-size: 24px;
  width: 24px;
  height: 24px;
}

.top-search-nav {
  width: 390px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.top-search-nav .arrow {
  cursor: pointer;
  margin: 13px 16px;
  background: url(../img/icon-arrow-left.png);
  background-size: 22px;
  width: 22px;
  height: 22px;
}

.top-search-nav .search {
  width: 316px;
  height: 32px;
  margin: 8px 18px 8px 10px;
  border: none;
  border-radius: 32px;
  background-color: #f2f2f2;
  text-indent: 10px;
  font-weight: 500;
  color: #c4c4c4;
}

.top-main-nav {
  width: 390px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.top-main-nav .text {
  width: 115px;
  height: 22px;
  font-weight: 500px;
  font-size: 18px;
  margin: 13px 16px;
  color: black;
}

.top-main-nav .search {
  cursor: pointer;
  margin: 12px 16px;
  background: url(../img/icon-search.png);
  background-size: 24px;
  width: 24px;
  height: 24px;
}

.top-upload-nav {
  width: 390px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.top-upload-nav .arrow {
  cursor: pointer;
  margin: 13px 16px;
  background: url(../img/icon-arrow-left.png);
  background-size: 22px;
  width: 22px;
  height: 22px;
}

.top-upload-nav .save {
  cursor: pointer;
  margin: 8px 12px;
  background-color: #ffc7a7;
  width: 90px;
  height: 32px;
  border: none;
  border-radius: 32px;
  color: white;
  font-size: 14px;
}

.top-chat-nav {
  width: 390px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  color: black;
}

.top-chat-nav .arrow {
  cursor: pointer;
  margin: 13px 10px 13px 16px;
  background: url(../img/icon-arrow-left.png);
  background-size: 22px;
  width: 22px;
  height: 22px;
}

.top-chat-nav .text {
  margin: 15px 10px 15px 0px;
  background-size: 22px;
  width: 284px;
  height: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.53px;
}

.top-chat-nav .more {
  cursor: pointer;
  margin: 12px 12px;
  background: url(../img/more-icon.png);
  background-size: 24px;
  width: 24px;
  height: 24px;
}

.tab-menu {
  width: 390px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
}

.tab-menu div {
  cursor: pointer;
  width: 84px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-menu div span {
  margin: 12px 30px 0px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icon-home.png);
  background-size: 24px;
}

.tab-menu div p {
  margin-top: 3px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400px;
  color: #767676;
}

.tab-menu .home span {
  background-image: url(../img/icon-home.png);
}

.tab-menu .chatting span {
  background-image: url(../img/icon-message-circle-1.png);
}

.tab-menu .create span {
  background-image: url(../img/icon-edit.png);
}

.tab-menu .profile span {
  background-image: url(../img/icon-user.png);
}

.comment {
  width: 390px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.comment .icon {
  margin: 12px 16px;
  width: 36px;
  height: 36px;
  background-image: url(../img/basic-profile.png);
  background-size: 36px;
}

.comment .text {
  font-size: 14px;
  color: #c4c4c4;
  border: none;
  width: 256px;
}

.comment .posting {
  cursor: pointer;
  font-size: 14px;
  margin: 23px 16px 20px;
  width: 30px;
  height: 18px;
  color: #c4c4c4;
}

/* 유저 검색 */
.user-search {
  position: relative;
  width: 358px;
  height: 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-search > img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.searchName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 5px;
  left: 62px;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.searchFirstName {
  color: #F26E22;
}

.searchEmail {
  position: absolute;
  top: 29px;
  left: 62px;
  color: #767676;
  font-size: 12px;
  line-height: 15px;
}

/* 팔로워 검색 */
.user-follow {
  position: relative;
  width: 358px;
  height: 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.user-follow > img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.followersName {
  position: relative;
  top: 5px;
  left: 62px;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.followersEmail {
  position: absolute;
  top: 29px;
  left: 62px;
  color: #767676;
  font-size: 12px;
  line-height: 15px;
}

.followBtn {
  position: absolute;
  top: 11px;
  right: 0;
  width: 56px;
  height: 28px;
  background: #F26E22;
  border: none;
  border-radius: 26px;
  font-size: 12px;
  /* line-height: 15px; */
  color: white;
  text-align: center;
}

/* 인풋 모듈 */
.text-Activ-input {
  position: relative;
  width: 322px;
  height: 47px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #DBDBDB;
}

.text-Activ-input:hover {
  border-bottom: 1px solid #F26E22;
  /* 마우스 오버했을 경우 아래 주황색 밑줄 표시 */
  /* 이메일 작성(focus)시에도 박스 아래선에 주황색 밑줄이 표시되도록 JS연결? if문 사용? */
  /* 예를 들면 .loginInputId #inpId:focus 되었을때, text-Activ-input{border-bottom: 1px solid #F26E22;} 가 되도록 ?*/
}

.loginInputId .txt-hide {
  position: absolute;
  top: 0;
  left: 0;
  color: #767676;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.loginInputId #inpId {
  position: absolute;
  top: 25px;
  left: 0;
  color: black;
  font-size: 14px;
  line-height: 14px;
  border: none;
}

.loginInputId #inpId:focus {
  outline: none;
  /* 이메일 작성(focus)시, input의 아웃라인을 없애줌 */
}

.L-button {
  width: 322px;
  height: 44px;
  border-radius: 44px;
  background: #F26E22;
  color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.L-Disabled-button {
  width: 322px;
  height: 44px;
  border-radius: 44px;
  background: #FFC7A7;
  color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.M-button {
  width: 120px;
  height: 34px;
  border-radius: 30px;
  background-color: #F26E22;
  color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
  font-weight: 18px;
  line-height: 18px;
}

.M-disabled-button {
  width: 120px;
  height: 34px;
  border-radius: 30px;
  background-color: #FFC7A7;
  color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.M-Activ-butto {
  width: 120px;
  height: 34px;
  border: 1px solid #DBDBDB;
  border-radius: 30px;
  background-color: #fff;
  color: #767676;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Ms-button {
  width: 90px;
  height: 32px;
  border-radius: 32px;
  background-color: #F26E22;
  color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Ms-Disabled-button {
  width: 90px;
  height: 32px;
  border-radius: 32px;
  background-color: #FFC7A7;
  color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.S-button {
  width: 56px;
  height: 28px;
  border-radius: 26px;
  background-color: #F26E22;
  color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 12px;
  font-weight: 400;
}

.S-Activ-button {
  width: 56px;
  height: 28px;
  border: 1px solid #DBDBDB;
  border-radius: 26px;
  background-color: #fff;
  color: #767676;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 12px;
  line-height: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-container {
  background-color: white;
  width: 100vw;
  max-width: 390px;
  height: 884px;
  overflow: hidden;
}

.m-container.splash .img {
  display: block;
  margin: 270px auto 0px;
  width: 200px;
  height: 340px;
  background: url("../img/logo.png") no-repeat;
  background-size: 200px auto;
}

.m-container.home {
  position: relative;
}

.m-container.home .top-main-nav {
  position: fixed;
  top: 0px;
  width: 100vw;
  max-width: 390px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-bottom: solid 1px #dbdbdb;
}

.m-container.home .top-main-nav .text {
  width: 115px;
  height: 22px;
  font-weight: 500px;
  font-size: 18px;
  margin: 13px 16px;
  color: black;
}

.m-container.home .top-main-nav .search {
  cursor: pointer;
  margin: 12px 16px;
  background: url(../img/icon-search.png);
  background-size: 24px;
  width: 24px;
  height: 24px;
}

.m-container.home .img {
  margin: 268px auto 0px;
  width: 100px;
  height: 100px;
  background: url(../img/symbol-logo-1.png) center center no-repeat;
  background-size: auto 100px;
}

.m-container.home .text {
  margin: 20px auto 0px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #767676;
}

.m-container.home .M-button {
  display: block;
  margin: 20px auto 0px;
  width: 120px;
  height: 44px;
  border-radius: 30px;
  background-color: #F26E22;
  color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
  font-weight: 18px;
  line-height: 18px;
}

.m-container.home .tab-menu {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  border-top: solid 1px #dbdbdb;
}

.m-container.home .tab-menu div {
  cursor: pointer;
  width: 84px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-container.home .tab-menu div span {
  margin: 12px 30px 0px;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.m-container.home .tab-menu div p {
  margin-top: 3px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400px;
  color: #767676;
}

.m-container.home .tab-menu .home span {
  background-image: url(../img/icon-home-fill.png);
}

.m-container.home .tab-menu .home p {
  color: #f26e22;
}

.m-container.home .tab-menu .chatting span {
  background-image: url(../img/icon-message-circle-1.png);
}

.m-container.home .tab-menu .create span {
  background-image: url(../img/icon-edit.png);
}

.m-container.home .tab-menu .profile span {
  background-image: url(../img/icon-user.png);
}

.m-container.login {
  background-color: #EA7F42;
  position: relative;
}

.m-container.login .pic {
  margin: 204px auto 0px;
  width: 144px;
  height: 144px;
  background: url(../img/symbol-logo.png) center center no-repeat;
  background-size: auto 144px;
}

.m-container.login article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -40px;
  width: 100%;
  max-width: 390px;
  height: 362px;
  background-color: white;
  border-radius: 20px;
  font-size: 12px;
  color: #767676;
}

.m-container.login article button {
  width: 322px;
  height: 44px;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.m-container.login article button::before {
  content: " ";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  -webkit-transform: translateX(10px) translateY(-5px);
          transform: translateX(10px) translateY(-5px);
}

.m-container.login article .kakao {
  margin-top: 50px;
  border: 1px solid #f2c94c;
}

.m-container.login article .kakao::before {
  background: url("../img/message-circle.png");
  background-size: 24px;
}

.m-container.login article .google {
  border: 1px solid #767676;
}

.m-container.login article .google::before {
  background: url("../img/Google__G__Logo 1.png");
  background-size: 24px;
}

.m-container.login article .facebook {
  margin-bottom: 20px;
  border: 1px solid #2d9cdb;
}

.m-container.login article .facebook::before {
  background: url("../img/facebook.png");
  background-size: 24px;
}

.m-container.login article a {
  display: inline-block;
  font-size: 12px;
  color: #767676;
  margin: 0px 5px;
}

.m-container.album {
  position: relative;
  height: 520px;
}

.m-container.album .nav {
  width: 100%;
  height: 44px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  border: solid 1px #dbdbdb;
}

.m-container.album .nav div {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 21px;
}

.m-container.album .nav .nav1 {
  background: url(../img/icon-post-list-off.png);
  background-size: 26px;
}

.m-container.album .nav .nav2 {
  background: url(../img/icon-post-album-on.png);
  background-size: 26px;
}

.m-container.album .pics {
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'grid1 grid2 grid3' 'grid4 grid5 grid6' 'grid7 grid8 grid9';
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  row-gap: 8px;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  padding: 21px 0px;
  width: 90%;
  height: 350px;
}

.m-container.album .pics .pic1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grid1;
  background: url("../img/orange.png");
  background-size: 100%;
}

.m-container.album .pics .pic2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: grid2;
  background: url("../img/orange.png");
  background-size: 100%;
}

.m-container.album .pics .pic3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: grid3;
  background: url("../img/orange.png");
  background-size: 100%;
}

.m-container.album .pics .pic4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: grid4;
  background: url("../img/orange.png");
  background-size: 100%;
}

.m-container.album .pics .pic5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: grid5;
  background: url("../img/orange.png");
  background-size: 100%;
}

.m-container.album .pics .pic6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: grid6;
  background: url("../img/orange.png");
  background-size: 100%;
}

.m-container.album .pics .pic7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: grid7;
  background: url("../img/orange.png");
  background-size: 100%;
}

.m-container.album .pics .pic8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: grid8;
  background: url("../img/orange.png");
  background-size: 100%;
}

.m-container.album .pics .pic9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: grid9;
  background: url("../img/orange.png");
  background-size: 100%;
}

.m-container.album .tab-menu {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  border-top: solid 1px #dbdbdb;
}

.m-container.album .tab-menu div {
  cursor: pointer;
  width: 84px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-container.album .tab-menu div span {
  margin: 12px 30px 0px;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.m-container.album .tab-menu div p {
  margin-top: 3px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400px;
  color: #767676;
}

.m-container.album .tab-menu .home span {
  background-image: url(../img/icon-home-fill.png);
}

.m-container.album .tab-menu .home p {
  color: #f26e22;
}

.m-container.album .tab-menu .chatting span {
  background-image: url(../img/icon-message-circle-1.png);
}

.m-container.album .tab-menu .create span {
  background-image: url(../img/icon-edit.png);
}

.m-container.album .tab-menu .profile span {
  background-image: url(../img/icon-user.png);
}
/*# sourceMappingURL=manhak.css.map */